

td,th{
    border: 1px solid #5cb6b6;
}
tr:nth-child(n+1){
    background-color: white;
}
tr:nth-child(even){
    background-color:#aaebf8;
}

th{
    background-color: rgb(5, 32, 15);
    color: white;
    text-align: left;
}
td,th{
    padding-left: 10px;
}
tr:hover{
    background-color: #6ab362;
}

img{
    padding: 12px;
}