.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- tabla registros--- */

.table-container {
  border-collapse: collapse; /* Combina los bordes de las celdas */
  width: 100%;
}

.table-container th, .table-container td {
  border: 1px solid #ddd; /* Define el grosor y color del borde */
  padding: 8px; /* Añade un espacio alrededor del contenido de la celda */
  text-align: left; /* Alinea el texto a la izquierda en las celdas */
}

.table-container th {
  background-color: #f2f2f2; /* Color de fondo para las celdas del encabezado */
}
